{% extends 'base.html' %}

{% block title %}Lista de Requisiciones{% endblock %}

{% block content %}
<div class="container">
    <h2>Lista de Requisiciones</h2>
    <a href="{% url 'requisition_create' %}">➕ Crear nueva requisición</a>

    <table class="list-table">
        <thead>
            <tr>
                <th>Código</th> <!-- Este es el name -->
                <th>Departamento</th>
                <th>Cargo</th>
                <th>Fecha de Solicitud</th>
                <th>Responsable</th>
                <th>Finalidad</th>
                <th>Fecha de Creación</th>
            </tr>
        </thead>
        <tbody>
            {% for req in requisitions %}
            <tr>
                <td>{{ req.name }}</td>
                <td>{{ req.get_departamento_display }}</td>
                <td>{{ req.get_cargo_display }}</td>
                <td>{{ req.fecha_solicitud }}</td>
                <td>{{ req.responsable }}</td>
                <td>{{ req.finalidad }}</td>
                <td>{{ req.created_at }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No hay requisiciones registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
